.io-iconmonstr-deviantart-2-icon:before,
.io-iconmonstr-deviantart-2-icon:after,
.io-iconmonstr-deviantart-2-icon { background-image: url('assets/img/icons/png/iconmonstr-deviantart-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-deviantart-icon:before,
.io-iconmonstr-deviantart-icon:after,
.io-iconmonstr-deviantart-icon { background-image: url('assets/img/icons/png/iconmonstr-deviantart-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-facebook-2-icon:before,
.io-iconmonstr-facebook-2-icon:after,
.io-iconmonstr-facebook-2-icon { background-image: url('assets/img/icons/png/iconmonstr-facebook-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-facebook-icon:before,
.io-iconmonstr-facebook-icon:after,
.io-iconmonstr-facebook-icon { background-image: url('assets/img/icons/png/iconmonstr-facebook-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-flickr-2-icon:before,
.io-iconmonstr-flickr-2-icon:after,
.io-iconmonstr-flickr-2-icon { background-image: url('assets/img/icons/png/iconmonstr-flickr-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-flickr-icon:before,
.io-iconmonstr-flickr-icon:after,
.io-iconmonstr-flickr-icon { background-image: url('assets/img/icons/png/iconmonstr-flickr-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-google-plus-2-icon:before,
.io-iconmonstr-google-plus-2-icon:after,
.io-iconmonstr-google-plus-2-icon { background-image: url('assets/img/icons/png/iconmonstr-google-plus-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-google-plus-icon:before,
.io-iconmonstr-google-plus-icon:after,
.io-iconmonstr-google-plus-icon { background-image: url('assets/img/icons/png/iconmonstr-google-plus-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-instagram-6-icon:before,
.io-iconmonstr-instagram-6-icon:after,
.io-iconmonstr-instagram-6-icon { background-image: url('assets/img/icons/png/iconmonstr-instagram-6-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-instagram-7-icon:before,
.io-iconmonstr-instagram-7-icon:after,
.io-iconmonstr-instagram-7-icon { background-image: url('assets/img/icons/png/iconmonstr-instagram-7-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-linkedin-2-icon:before,
.io-iconmonstr-linkedin-2-icon:after,
.io-iconmonstr-linkedin-2-icon { background-image: url('assets/img/icons/png/iconmonstr-linkedin-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-linkedin-icon:before,
.io-iconmonstr-linkedin-icon:after,
.io-iconmonstr-linkedin-icon { background-image: url('assets/img/icons/png/iconmonstr-linkedin-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-myspace-2-icon:before,
.io-iconmonstr-myspace-2-icon:after,
.io-iconmonstr-myspace-2-icon { background-image: url('assets/img/icons/png/iconmonstr-myspace-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-myspace-icon:before,
.io-iconmonstr-myspace-icon:after,
.io-iconmonstr-myspace-icon { background-image: url('assets/img/icons/png/iconmonstr-myspace-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-pinterest-2-icon:before,
.io-iconmonstr-pinterest-2-icon:after,
.io-iconmonstr-pinterest-2-icon { background-image: url('assets/img/icons/png/iconmonstr-pinterest-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-pinterest-icon:before,
.io-iconmonstr-pinterest-icon:after,
.io-iconmonstr-pinterest-icon { background-image: url('assets/img/icons/png/iconmonstr-pinterest-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-sharethis-2-icon:before,
.io-iconmonstr-sharethis-2-icon:after,
.io-iconmonstr-sharethis-2-icon { background-image: url('assets/img/icons/png/iconmonstr-sharethis-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-sharethis-icon:before,
.io-iconmonstr-sharethis-icon:after,
.io-iconmonstr-sharethis-icon { background-image: url('assets/img/icons/png/iconmonstr-sharethis-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-soundcloud-2-icon:before,
.io-iconmonstr-soundcloud-2-icon:after,
.io-iconmonstr-soundcloud-2-icon { background-image: url('assets/img/icons/png/iconmonstr-soundcloud-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-soundcloud-icon:before,
.io-iconmonstr-soundcloud-icon:after,
.io-iconmonstr-soundcloud-icon { background-image: url('assets/img/icons/png/iconmonstr-soundcloud-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-stumbleupon-2-icon:before,
.io-iconmonstr-stumbleupon-2-icon:after,
.io-iconmonstr-stumbleupon-2-icon { background-image: url('assets/img/icons/png/iconmonstr-stumbleupon-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-stumbleupon-icon:before,
.io-iconmonstr-stumbleupon-icon:after,
.io-iconmonstr-stumbleupon-icon { background-image: url('assets/img/icons/png/iconmonstr-stumbleupon-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-tumblr-2-icon:before,
.io-iconmonstr-tumblr-2-icon:after,
.io-iconmonstr-tumblr-2-icon { background-image: url('assets/img/icons/png/iconmonstr-tumblr-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-tumblr-icon:before,
.io-iconmonstr-tumblr-icon:after,
.io-iconmonstr-tumblr-icon { background-image: url('assets/img/icons/png/iconmonstr-tumblr-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-twitter-2-icon:before,
.io-iconmonstr-twitter-2-icon:after,
.io-iconmonstr-twitter-2-icon { background-image: url('assets/img/icons/png/iconmonstr-twitter-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-twitter-icon:before,
.io-iconmonstr-twitter-icon:after,
.io-iconmonstr-twitter-icon { background-image: url('assets/img/icons/png/iconmonstr-twitter-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-vimeo-2-icon:before,
.io-iconmonstr-vimeo-2-icon:after,
.io-iconmonstr-vimeo-2-icon { background-image: url('assets/img/icons/png/iconmonstr-vimeo-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-vimeo-icon:before,
.io-iconmonstr-vimeo-icon:after,
.io-iconmonstr-vimeo-icon { background-image: url('assets/img/icons/png/iconmonstr-vimeo-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-wordpress-2-icon:before,
.io-iconmonstr-wordpress-2-icon:after,
.io-iconmonstr-wordpress-2-icon { background-image: url('assets/img/icons/png/iconmonstr-wordpress-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-wordpress-icon:before,
.io-iconmonstr-wordpress-icon:after,
.io-iconmonstr-wordpress-icon { background-image: url('assets/img/icons/png/iconmonstr-wordpress-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-youtube-2-icon:before,
.io-iconmonstr-youtube-2-icon:after,
.io-iconmonstr-youtube-2-icon { background-image: url('assets/img/icons/png/iconmonstr-youtube-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-youtube-icon:before,
.io-iconmonstr-youtube-icon:after,
.io-iconmonstr-youtube-icon { background-image: url('assets/img/icons/png/iconmonstr-youtube-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-youtube-new-2-icon:before,
.io-iconmonstr-youtube-new-2-icon:after,
.io-iconmonstr-youtube-new-2-icon { background-image: url('assets/img/icons/png/iconmonstr-youtube-new-2-icon.png'); background-repeat: no-repeat; }

.io-iconmonstr-youtube-new-icon:before,
.io-iconmonstr-youtube-new-icon:after,
.io-iconmonstr-youtube-new-icon { background-image: url('assets/img/icons/png/iconmonstr-youtube-new-icon.png'); background-repeat: no-repeat; }

